In [6]:
import pandas as pd #to create dataframe
from sklearn.linear_model import LogisticRegression # to use logisitc reg 
from sklearn.model_selection import train_test_split # 2 more methods cross validation & end sembble techniques.TO TRAIN THE ML MODEL TO DIVIDE THE DATA INTO TESTING AND TRAINING
import matplotlib.pyplot as plt # to plot graph of the data

In [7]:
df=pd.read_csv('insurance_data.csv')

In [8]:
df.shape

(27, 2)

In [9]:
df.head() # give values of the top 5 rows

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [10]:
df.head(9)

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1
5   56                 1
6   55                 0
7   60                 1
8   62                 1

In [11]:
df.tail() #display the bottom 5 values

    age  bought_insurance
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [12]:
df.columns

Index(['age', 'bought_insurance'], dtype='object')

In [14]:
#separate the input features and target features .age is input feature and bought_insurance is target feature

In [16]:
x=df[['age']] #input feature always in 2D

In [17]:
x.head()

   age
0   22
1   25
2   47
3   52
4   46

In [18]:
y=df.bought_insurance #or y=df['bought_insurance']

In [19]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: bought_insurance, dtype: int64

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #return 4 values

In [22]:
x_train.shape

(21, 1)

In [23]:
x_test.shape

(6, 1)

In [24]:
model=LogisticRegression()

In [25]:
model.fit(x_train,y_train)

LogisticRegression()

In [26]:
model.score(x_test,y_test)

1.0

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
y_predict=model.predict(x_test)

In [31]:
y_predict

array([1, 0, 1, 0, 0, 0], dtype=int64)

In [32]:
y_test

2     1
11    0
25    1
21    0
1     0
10    0
Name: bought_insurance, dtype: int64

In [33]:
accuracy_score(y_predict,y_test)

1.0